<p-tabView>
    <p-tabPanel header="Age">
       <app-byage></app-byage>
    </p-tabPanel>
    <p-tabPanel header="Genre">
        <app-bygender></app-bygender>
    </p-tabPanel>
    <p-tabPanel header="Clients / Menu">
        <app-customerbymenu></app-customerbymenu>    
    </p-tabPanel>
    <p-tabPanel header="Menu / Entreprise">
        <app-numofmenubyfirm></app-numofmenubyfirm>
    </p-tabPanel>
    <p-tabPanel header="Menu / Horaire">
        <app-numofmenubyschedule></app-numofmenubyschedule>
    </p-tabPanel>
</p-tabView>