<p-blockUI [target]="tbl" [blocked]="blocked">
    
</p-blockUI>
<div class="row">
        <div class="ui-float-label" style="margin: 30px">
            <input [(ngModel)]="nb_results" id="float-input" type="number" size="150" pInputText> 
            <label for="float-input">Nombre de résultats</label>
        </div>
        <div style="margin: 30px">
            <button class="btn" (click)="getData()">Rafraichir</button>
        </div>
        <div style="margin: 30px">
            {{err}}
        </div>
        
</div>
<p-dataTable #tbl [totalRecords]="totalRecords" [value]="datas" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" sortMode="multiple" [loading]="blocked">
    <p-header>Liste des commandes</p-header>
    <p-column field="age" header="Age" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="civilite" header="Civilite" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="dte_livr" header="Date de livraison" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="entreprise" header="Entreprise" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="nom_ach" header="Nom acheteur" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="nom_conso" header="Nom consommateur" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="prenom_conso" header="Prénom consommateur" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="plat" header="Plat" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="type_paiement" header="Paiement" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <ng-template pTemplate="paginatorLeft">
        <button type="button" pButton icon="fa-refresh"></button>
    </ng-template>
    <ng-template pTemplate="paginatorRight">
        <button type="button" pButton icon="fa-cloud-upload"></button>
    </ng-template>
</p-dataTable>