<p-dropdown [options]="charType" (onChange)="updateSelectedType($event.value)" placeholder="Selectionnez un type de graphique" ></p-dropdown>
<button class="btn btn-success" (click)="updateData()">Rafraichir</button>
<div>
<p-chart [options]="options" [type]="selectedCharType.label" [data]="data"></p-chart>
<p-dataTable [value]="percents">
    <p-column field="Sexe" header="Vin"></p-column>
    <p-column field="Nombre" header="Vin"></p-column>
    <p-column field="Pourcentage" header="Vin"></p-column>
</p-dataTable>

</div>
