<p-dropdown [options]="charType" (onChange)="updateSelectedType($event.value)" placeholder="Selectionnez un type de graphique" ></p-dropdown>
<button class="btn btn-success" (click)="updateData()">Rafraichir</button>
<p-chart [options]="options" [type]="selectedCharType.label" [data]="data"></p-chart>
