<p-dialog header="Nouveau consomateur" [(visible)]="display" modal="modal" width="300" height="200" [responsive]="true">
  <div class="margintop">
      <input id="float-input" type="text" size="30" [(ngModel)]="customer.nom" placeholder="nom"/> 
  </div>
  <div class="margintop">
      <input type="text" size="30" [(ngModel)]="customer.prenom" placeholder="prénom"/> 
  </div>
  <div class="margintop">
      <input type="number" size="30" [(ngModel)]="customer.age" placeholder="age"/>
  </div>
 <p-footer>
      <button type="button" pButton icon="fa-check" (click)="pushCustomer()" label="valider"></button>
      <button type="button" pButton icon="fa-close" (click)="display=false" label="quitter"></button>
  </p-footer>
</p-dialog>

<button type="button" (click)="showDialog()" pButton icon="fa-plus" class="ui-button-success"></button>